@import "../../../../styles/variables/_grid.scss";
form {
  display: flex;
  flex-wrap: wrap;
  .form-group {
    padding: .3em 0;
    &--button{
      @include h_col(12);
      .m-button{
        width: 100%;
        height: 100%;
      }
    }
  }
  label {
      padding-right: 1em;
    & + input {
    }
  }
  input {
    border-radius: 3px;
    border: solid 1px gray;
  }
}


@media only #{$screen-min-sm} {
  form{
    .form-group {
      @include h_col(6);
    }
  }
}

@media only #{$screen-min-lg} {
  form {
    .form-group{
      @include h_col(2);
      padding-right: 1em;
      &--button {
        @include h_col(1);
      }
    }
  }
}
