.button{
  border: solid 1px black;
  border-radius: .3em;
  &.success{
    color: white;
    background-color: #008000;
    border-color: darken(#008000, 10%);
    &:hover{
      background-color: darken(#008000, 5%);
    }
  }
}
