@import '../variables/_fonts.scss';
@import '../variables/_colors.scss';

body {
  font-family: $normal_font;
  color: $text_color;
}
.monospace {
  font-family: $monospace_font;
}

button, input, optgroup, select, textarea{
  font-family: $normal_font;
}
