$white: rgba(255,255,255,1);
$black: #000000;
$brown: rgba(208,179,145, 1);
$tan: rgba(233,217,199, 1);
$light_green: rgba(#45CC4F, 1);
$dark_green: rgba(#236728, 1);
$light_purple: rgba(#83317b, 1);
$dark_purple: rgba(#562053, 1);
$dark_gray: rgba(77,77,77, 1);
$light_gray: rgba(#dddddd, 1);
$dark_blue: rgba(#211e4c, 1);
$light_blue: rgba(#2f55a5, 1);

$primary_color: $dark_green;
$secondary_color: $light_green;

$inverse_text_color: $white;
$text_color: $black;
