// screen size media queries
$screen-xs:        "screen and (max-width: 35.5em)" !default; // up to 568px
$screen-sm:        "screen and (max-width: 48em)" !default; // max 768px
$screen-md:        "screen and (max-width: 64em)" !default; // max 1024px
$screen-lg:        "screen and (max-width: 80em)" !default; // max 1280px

$screen-min-sm:    "screen and (min-width: 35.5em)" !default; // min 568px
$screen-min-md:    "screen and (min-width: 48em)" !default; // min 768px
$screen-min-lg:    "screen and (min-width: 64em)" !default; // min 1024px


// 12 column, width sizes
$grid_col-1: (100% / 12);
$grid_col-2: ($grid_col-1 * 2);
$grid_col-3: ($grid_col-1 * 3);
$grid_col-4: ($grid_col-1 * 4);
$grid_col-5: ($grid_col-1 * 5);
$grid_col-6: ($grid_col-1 * 6);
$grid_col-7: ($grid_col-1 * 7);
$grid_col-8: ($grid_col-1 * 8);
$grid_col-9: ($grid_col-1 * 9);
$grid_col-10: ($grid_col-1 * 10);
$grid_col-11: ($grid_col-1 * 11);
$grid_col-12: 100%;

@mixin h_col($col_size){
  flex-grow: 1;
  flex-basis: ($grid_col-1 * $col_size);
}

@mixin v_col($col_name){
  flex-grow: 1;
  flex-basis: $col_name;
}
