@import '../variables/_colors.scss';
.m-button{
  border: solid 1px black;
  border-radius: .3em;
  padding: 10px;
  &.success{
    color: $white;
    background-color: $dark_green;
    border-color: darken($dark_green, 10%);
    &:hover{
      background-color: darken($dark_green, 5%);
    }
  }
}
