@import '../variables/_colors.scss';
.m-details{
  flex: 1 0 100%;
  background-color: $light_gray;
  color: $black;
  margin-bottom: 1em;
  .m-details-title{
    background-color: $primary_color;
    color: $white;
  }
  .m-details-body{
    padding: 0em 1em;
  }
}