$inverse_link_hover: $secondary_color;

a{
  color: $light_blue;
  &:hover{
    color: $dark_blue;
    text-decoration: none;
  }
  &.inverse{
    color: $inverse_text_color;
    &:hover{
      color: $inverse_link_hover;
      text-decoration: none;
    }
  }
}
