.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Page{
  display: flex;
  flex-direction: column;
}
.Header{
  display: flex;
  border-bottom: solid 1px black;
}
.top-bar{
  display: flex;
}
.Header .Logo{
  flex: 0 0 auto;
}
.Header .Nav a{
  padding: 10px;
}
.Page main{  
  padding: 0 20px;
}